/* Language: css */
/* Path: style.css */

* {
    text-decoration: none;
    color: #f1f1f1;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #151515;
    text-align: center;
}

#headings h1,
#headings h2 {
    margin: 0px;
}

#headings {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.containerbox {
    background-image: linear-gradient(to bottom right, #f00708 , #0697f4 );
    display: flex;
    position: absolute;
    width: 40rem;
    min-height: 40rem;
    align-items: center;
    justify-content: center;
    left: 50%;
    transform: translate(-50%, 0%);
    box-shadow: inset #0697f4 2px 0px 20px 0px, #f00708 0px 0px 10px 0px;
    border-radius: 50px;
    margin-top: 10px;
    margin-bottom: 40px;
}

.containermain {
    display: flex;
    width: 400px;
    top: 50%;
    left: 50%;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px 0px;
    flex-direction: column;
}

#generatebtn {
    background-color: transparent;
    padding: 14px 20px;
    margin: 20px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    border: #f1f1f1 2px solid;
    border-radius: 50px;
    transition: all 0.9s ease;
}

#generatebtn:hover {
    border-radius: 10px;
    transition: all 0.5s ease;
}

#container input {
    color: #f1f1f1;
    background-color: #151515;
    border-radius: 4px;
    border: none;
    transition: all 0.9s;
    height: 23px;
    margin-top: 3px;
    padding: 2% 5%;
}

#container input:hover {
    color: #f1f1f1;
    background-color: #151515;
    border-radius: 15px;
    transition: all 0.9s;
}

#container button {
    color: #f1f1f1;
    cursor: pointer;
    background-color: transparent;
    border: none;
    font-size: 20px;
}

.container {
    background-color: #2c2c2c;
}

.list {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    flex-direction: column;
}

.oneline {
    display: flex;
    flex-wrap: nowrap;
}